#head {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
}

.body {
  background: black;
  height: 50px;
  width: 50px;
  background-color: darkgreen;
  position: absolute;
}

#board {
  background-color: lightgreen;
  height: 700px;
  width: 700px;
  border: 3px pink solid;
  position: relative;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

h1 {
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
}